version: 2.1

orbs:
  node: circleci/node@5.2.0

jobs:
  release:
    docker:
      - image: cimg/node:lts
    steps:
      - checkout
      - node/install-packages
      - run: npx semantic-release

workflows:
  build:
    jobs:
      - node/test
      - release:
          context: org-global
          requires:
            - node/test